<div class="row animated fadeIn">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Usuarios</h3>

                <div class="alert alert-danger animated fadeIn"
                      *ngIf="usuarios.length === 0"> 
                    No existen usuarios con ese término
                </div>

                <div class="table-responsive" *ngIf="usuarios.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios" class="animated fadeIn">
                                <td>
                                    <span class="round">
                                        <img [src]="usuario.img | imagen:'usuarios'" width="50" height="50">
                                    </span>
                                </td>
                                <td>{{usuario.nombre}}</td>
                                
                            </tr>
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Médicos</h3>
                <div class="alert alert-danger animated fadeIn"
                     *ngIf="medicos.length === 0"> 
                    No existen médicos con ese término
                </div>

                <div class="table-responsive" *ngIf="medicos.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of medicos" 
                                class="animated fadeIn">
                                <td>
                                    <span class="round">
                                        <img [src]="medico.img | imagen:'medicos'" width="50" height="50">
                                    </span>
                                </td>
                                <td>
                                    <a [routerLink]="['/medicos',medico._id]" class="enlace">
                                        {{medico.nombre}}
                                    </a>
                                </td>
                                
                            </tr>
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Hospitales</h3>
                <div class="alert alert-danger animated fadeIn"
                     *ngIf="hospitales.length === 0"> 
                    No existen hospitales con ese término
                </div>

                <div class="table-responsive" *ngIf="hospitales.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitales" class="animated fadeIn">
                                <td>
                                    <span class="round">
                                        <img [src]="hospital.img | imagen:'hospitales'" width="50" height="50">
                                    </span>
                                </td>
                                <td>{{hospital.nombre}}</td>
                                
                            </tr>
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
