<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text"
                class="form-control"
                placeholder="Buscar Médico ..."
                #txtTermino
                (keyup)="buscar(txtTermino.value)">
            </div>
        </div>
    </div>
</div>

<!-- Loader -->
<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-12">
      <div class="alert alert-info text-center">
        <h4 class="alert-heading">Cargando</h4>
        <i class="fa fa-spin fa-refresh fa-2x"></i>
        <p class="mb-0">Por favor espere</p>
      </div>
    </div>
</div>

<!-- Table -->
<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Lista Médicos</h4>
                        <h6 class="card-subtitle">Médicos registrados en la aplicación</h6>
                    </div>
                    <div class="col">
                        <div class="text-right">
                            <button class="btn btn-primary" routerLink="/medicos/nuevo">
                                <i class="fa fa-hospital-o"></i>
                                Crear Médico
                            </button>
                        </div>                        
                    </div>

                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Foto</th>
                                <th>Nombre</th>
                                <th class="w100 text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let m of medicos">
                                <td>
                                    <img [src]="m.img | imagen:'medicos'" 
                                         alt="Avatar de Médico"
                                         class="cursor w100"
                                         (click)="abirModalImagen(m)">
                                </td>
                                <td>{{m.nombre}}</td>
                                
                               
                                <td class="text-nowrap">
                                    <a [routerLink]="['/medicos',m._id]" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a (click)="eliminarMedico(m)" class="cursor" data-toggle="tooltip" data-original-title="Borrar"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <button class="btn btn-primary">Anteriores</button>
                &nbsp;
                <button class="btn btn-primary">Siguientes</button>
            </div>
        </div>
    </div>
</div>
